*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}

body{
    font-family: montserrat;
    /* background-color: black; */
}

header{
    width: 100%;
    height: 50px;
    background-color: #202020;
   
}

header h1{
     height: 30px;
     padding-left:  80px;
     padding-top: 8px;
     color: orange;
}

header h5{
    text-align: center; 
    color: orangered;
}

nav{
    width: 100%;
    height: 150px;
    background-color: #101010;
    text-align: center;
   
}

.TK input{
    width: 600px;
    margin: 30px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid orangered;
}


nav ul{
   margin: 10px;
}

nav ul li{
    display: inline-block;
    margin:0 30px;
}

nav ul li a{
   font-size: 25px;
   color:#696969;
   
}

nav ul li a:hover{
    color: orange;
    
}



article{
    width: 100%;
    height: 400px;
    background-color: brown;
    clear: both;
}

article img{
    width: 100%;
    height: 400px;
}

aside{
    width: 100%;
    height: 800px;
    /* background-color: black; */
    position: relative;
}

aside h1{
    color: #484848;
    text-align: center;
    padding-top: 40px;
}

.sanpham img{
   margin-left: 30px;
   margin-top: 20px;
   margin: 30px;
   margin-bottom: 80px;
   float: left;
}

.tensanpham a{
    color: black;
    font-size: 10px;
    position: absolute;
    top: 340px;
    left: 35px;
}

.gia{
    color: red;
    font-size: 15px;
    position: absolute;
    top: 355px;
    left: 25px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.gia del{
    color: gray;
    
}

.tensanpham1 a{
    color: black;
    font-size: 10px;
    position: absolute;
    top: 340px;
    left: 350px;
}

.gia1{
    color: red;
    font-size: 15px;
    position: absolute;
    top: 355px;
    left: 335px;
   letter-spacing: 2px;
}

.gia1 del{
    color: gray;
    
}

.tensanpham2 a{
    color: black;
    font-size: 10px;
    position: absolute;
    top: 340px;
    left: 660px;
}

.gia2{
    color: red;
    font-size: 15px;
    position: absolute;
    top: 355px;
    left:650px;
   letter-spacing: 2px;
}

.gia2 del{
    color: gray;
}


.tensanpham3 a{
    color: black;
    font-size: 10px;
    position: absolute;
    top: 340px;
    left: 970px;
}

.gia3{
    color: red;
    font-size: 15px;
    position: absolute;
    top: 355px;
    left:955px;
   letter-spacing: 2px;
}

.gia3 del{
    color: gray;
}

.tensanpham4 a{
    color: black;
    font-size: 10px;
    position: absolute;
    top: 340px;
    left: 1260px;
}

.gia4{
    color: red;
    font-size: 15px;
    position: absolute;
    top: 355px;
    left:1260px;
   letter-spacing: 2px;
}

.gia4 del{
    color: gray;
}

.sanphamp2 img{
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 60px;
    margin: 35px;
} 


.sanpham a:hover{
    color: orangered;
}


footer{
    width: 100%;
    height: 350px;
    background-color: #505050;
    position: relative;
}

.dc h1{
    text-align: left;
    margin-left: 150px;
    color: white;
    
}

.dc h2{
    margin-top: 15px;
    margin-left: 50px;
    font-size: larger;
    color: orange;
}
.dc p{
    margin: 10px;
    margin-left: 10px;
    color:white;
}

.dc h3{
    margin-top: 15px;
    margin-left: 50px;
    font-size: larger;
    color: orange;
}



.ht h1{
  position: absolute;
  top: 5px;
  left: 700px;
  color: white;
}

.ht1{
    position: absolute;
    top: 80px;
    left: 695px;
    color: aliceblue;
}

.ht2{
    position: absolute;
    top: 100px;
    left: 695px;
    color: aliceblue;
}

.ht3{
    position: absolute;
    top: 120px;
    left: 695px;
    color: aliceblue;
}

.ht4{
    position: absolute;
    top: 140px;
    left: 695px;
    color: aliceblue;
}

.ht5{
    position: absolute;
    top: 160px;
    left: 695px;
    color: aliceblue;
}
.ht6{
    position: absolute;
    top: 180px;
    left: 695px;
    color: aliceblue;
}


.ht7{
    position: absolute;
    top: 200px;
    left: 695px;
    color: aliceblue;
}



.ht8{
    position: absolute;
    top: 220px;
    left: 695px;
    color: aliceblue;
}
.ht9{
    position: absolute;
    top: 240px;
    left: 695px;
    color: aliceblue;
}

.ht10{
    position: absolute;
    top: 260px;
    left: 695px;
    color: aliceblue;
}

.cc h1{
    position: absolute;
    top: 5px;
    right: 170px;
    color: white;
}





.cc img{
    width: 200px;
    height: 200px;
   position: absolute;
   top: 100px;
   right: 150px;
}



.dc iframe{
    position: absolute;
    top: 310px;
    left:80px;
}